html {
  font-family: "Unica One", sans-serif;
}

h1 {
  top: 2.1em;
  left: .5em;
  color: #fff;
  z-index: 100;
  animation: appear 3s ease;
}

#narwhal-eye {
  animation: appear 3s ease;
}

@keyframes appear {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#narwhal-body {
  animation: stroke 1s linear forwards;
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 1981.415px;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
